<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
                    <table class="table justify-content-center table-striped table-bordered mb-5">
                        <thead class="bg-light">
                            <tr>
                                <th class="text-center" scope="col">Task Title</th>
                                <th class="text-center" scope="col">Description</th>
                                <th class="text-center" scope="col">Date of Assign</th>
                                <th class="text-center" scope="col">Date of Completion</th>
                                <th class="text-center" scope="col">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <tr *ngFor="let i of taskData">
                                    <td class="text-center">{{i.taskTitle}}</td>
                                    <td class="text-center">{{i.taskDescription}}</td>
                                    <td class="text-center">{{i.taskDate}}</td>
                                    <td class="text-center">{{i.taskCompleteDate}}</td>
                                    <td class="text-center">{{i.taskStatus}}</td>
                                    <td class="text-center">
                                        <button *ngIf="!i.taskStatus" style="width: 6rem; height:2rem;" class="btn btn-success" (click)="markAsComplete(i.id)"><p>Complete</p> </button>
                                    </td>
                                </tr>
                           

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>